@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;800&family=Roboto&display=swap");
html {
  font-size: 62.5%;
}

* {
  overflow-x: hidden;
}

.botonera {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  height: auto;
  position: sticky;
}
.botonera img {
  width: auto;
}
.botonera li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 2em;
}
.botonera li a:hover, .botonera li a:hover {
  color: #FF916E;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
nav ul {
  list-style: none;
  padding: 0.25em 1.875em;
  display: flex;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
nav ul li {
  margin-left: 1.875em;
}

html {
  font-size: 62.5%;
}

* {
  overflow-x: hidden;
}

h1 {
  font-family: "Lexend";
  font-size: 5em;
  line-height: 1.5em;
  letter-spacing: 0.015rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: #000000;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  padding-bottom: 3em;
  padding-left: 7em;
  padding-right: 7em;
}

h2 {
  font-family: "Lexend";
  font-size: 3em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: #000000;
  margin-top: 3em;
  margin-bottom: 3em;
}

h3 {
  font-family: "Lexend";
  font-size: 2.6em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.h3-proyectos {
  margin-top: 4.5em;
  margin-bottom: 2em;
}

.texto-relleno {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  margin-bottom: 1.25em;
}

header img {
  width: 100%;
}

.boton-header {
  margin-top: 9.3em;
  margin-bottom: 25em;
  padding-left: 12.5em;
  padding-right: 12.5em;
  display: flex;
  flex-direction: column;
}
.boton-header a {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: 0.025rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  padding: 0.6em 0.6em;
  align-items: center;
  cursor: pointer;
}
.boton-header a:hover {
  color: #000000;
  background-color: #FF916E;
}

.header-responsive img {
  display: none;
}

.nav-pills {
  height: 80px;
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: none;
}
.nav-pills .nav-link.active {
  background-color: #FF916E;
}

body {
  background-color: #F6F6F6;
}
body div a {
  color: #000000;
}

.bg-black {
  background-color: #ffffff;
}

.text-white {
  color: #FFFFFF;
}

.carousel-indicators .active {
  background-color: #FF916E;
  height: auto;
}

.carousel-indicators li {
  background-color: #FFFFFF;
}

.texto-experiencias {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  text-align: top;
  font-style: center;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

.carousel-item {
  background-color: #000000;
  height: 30em;
  padding-top: 3em;
  margin-top: 4em;
}

.carousel-control-prev-icon {
  background-color: #000000;
}

.carousel-control-next-icon {
  background-color: #000000;
}

.main-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: none;
}

.tab-content {
  background-color: #FFFFFF;
  padding-bottom: 3em;
  padding-top: 4em;
}

.texto-tabs {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  margin-bottom: 3em;
  margin-left: 10em;
  margin-right: 10em;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.5em;
}

.mi-lista {
  background-color: #FFFFFF;
  margin-top: 2em;
}

.box-top {
  font-family: "Lexend";
  font-size: 1.6em;
  line-height: none;
  letter-spacing: none;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  padding: 6px 0px;
  background-color: #FF916E;
}

.text-left {
  text-align: left;
  padding: 100px;
}

.contenedor-imagen1y3-intercaladas {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}

.imagen-izquierda {
  width: 50%;
}

.text-derecha {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50%;
}

.contenedor-imagen2-intercaladas {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row-reverse;
}

.imagen-derecha {
  width: 50%;
}

.text-izquierda {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  text-align: left;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.contenedor-figure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: none;
}
.contenedor-figure figure {
  background-color: #FFFFFF;
}
.contenedor-figure figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.my-form label {
  margin-left: 25.2em;
  margin-bottom: 0.3em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}
.my-form input {
  width: 50%;
  margin: 0.6em auto;
}
.my-form textarea {
  width: 50%;
  margin: auto;
  margin-top: 1.25em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.form-label {
  margin-left: 15.2em;
}

.btn-primary {
  background-color: #000000;
  width: 50%;
  margin: auto;
  margin-left: 15.2em;
  margin-bottom: 5em;
  margin-top: 1.2em;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: 0.025rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  padding: 0.6em 0.6em;
  align-items: center;
  cursor: pointer;
}
.btn-primary a {
  color: #FFFFFF;
  text-decoration: none;
  border: none;
}
.btn-primary a:hover {
  color: #000000;
}
.btn-primary:hover {
  background-color: #FF916E;
  border: none;
}

.page-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contacto {
  margin-top: 4em;
  margin-bottom: 4em;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
}

* {
  overflow-x: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  flex-wrap: none;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  font-weight: 400;
  font-size: 2rem;
}
footer ul {
  display: flex;
  padding: 0.25em 1.875em;
  list-style: none;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
footer ul li {
  margin-left: 1.875em;
  display: flex;
}
footer ul li a {
  color: #FFFFFF;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
}
footer ul li a:hover {
  color: #FF916E;
}

.fila-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}

.redes-sociales {
  display: inline-block;
  color: #FFFFFF;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.fila-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
}

.fila-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}

html {
  font-size: 62.5%;
}

@media (max-width: 780px) {
  h1 {
    font-size: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  p {
    font-size: 1.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  .boton-header {
    display: flex;
    align-items: center;
  }
  .botonera {
    position: sticky;
  }
  .main-img {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    flex-wrap: wrap;
  }
  .main-img img {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .contenedor-figure {
    flex-wrap: wrap;
    width: 100%;
  }
  .contenedor-imagen1y3-intercaladas {
    flex-direction: column;
  }
  .contenedor-imagen2-intercaladas {
    flex-direction: column;
  }
  .imagen-derecha {
    flex-direction: column;
    width: 100%;
  }
  .text-izquierda {
    width: 100%;
    flex-direction: column;
  }
  .imagen-izquierda {
    flex-direction: column;
    width: 100%;
  }
  .text-derecha {
    width: 100%;
    flex-direction: column;
  }
  .boton-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: none;
    padding-left: 1px;
    padding-right: 1px;
  }
  .boton-header a {
    font-size: 25px;
  }
  .fila-3 ul {
    display: block;
  }
  .texto-tabs {
    font-size: 2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  p {
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  h2 {
    font-size: 1.8em;
    margin-top: 3.5em;
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  h3 {
    color: #000000;
    font-size: 1.6em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 3em;
  }
  .texto-relleno {
    font-size: 1.5em;
    margin-right: 1em;
    margin-bottom: 30px;
  }
  .text-derecha {
    width: 98%;
  }
  .text-izquierda {
    width: 98%;
  }
  .botonera {
    position: sticky;
  }
  .header-responsive picture img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    width: 100%;
    justify-items: center;
  }
  .header-desktop {
    display: none;
  }
  .main-img {
    width: 100%;
  }
  .main-img img {
    width: 80%;
    display: flex;
    padding-left: 10px;
  }
  .contenedor-figure {
    flex-wrap: wrap;
    width: 100%;
  }
  .imagen-derecha {
    width: 100%;
  }
  .imagen-izquierda {
    width: 100%;
  }
  .boton-header {
    display: flex;
    flex-direction: column;
    margin-top: 8em;
  }
  .boton-header a {
    font-size: 1.8em;
    padding-left: 5em;
    padding-right: 5em;
  }
  .redes-sociales {
    display: none;
  }
  .fila-3 ul {
    display: block;
  }
  .texto-tabs {
    font-size: 1.5em;
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
  .mi-lista {
    margin-top: 4em;
  }
  .carousel-item {
    background-color: #000000;
    height: 50vh;
  }
  .texto-experiencias {
    font-size: 1.4em;
    line-height: 1.5em;
    color: #FFFFFF;
    letter-spacing: 0.015em;
    padding-right: 1.1em;
    padding-left: 1.1em;
    margin-top: 1em;
  }
  .my-form label {
    margin-left: 120px;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
  }
  .my-form input {
    width: 50%;
    margin: 10px auto;
  }
  .my-form textarea {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
  }
  .btn-primary {
    background-color: #000000;
    width: 50%;
    margin: auto;
    margin-left: 112px;
    margin-bottom: 12em;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.025rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    padding: 0.6em 0.6em;
    align-items: center;
    cursor: pointer;
  }
  .btn-primary:hover {
    background-color: #FF916E;
    border: none;
    color: #000000;
  }
  .contenedor-figure figcaption {
    font-size: 1.5em;
  }
}
@keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-img img {
  animation-name: textAlpha;
  animation-duration: 5s;
}

/*# sourceMappingURL=main.css.map */
