html{
    font-size: 62.5%;
}

*{
    overflow-x: hidden;
}




  

footer {

    @include flex (column, space-between, none, none );
    
    
    
    width: 100%;
    font-family: $mainFont;
    background-color: $mainColor;
    font-weight: 400;
    font-size: 2rem;



      
    ul{
        display: flex;
        padding: 0.25em 1.875em;   
        list-style: none;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    
    
    
      li{
           margin-left: 1.875em;
           display: flex;
     


            a{
                color: $keyColor; 
                font-size: 2rem;
                text-decoration:none; 
                display: flex;
            
                &:hover{
                    color: $secondaryColor;
                }
             
            }
                              
        }
    }

}
    
 

    
.fila-1{

    @include flex (row, space-between, none, wrap );
  
    padding-left: 1.25em;
    padding-right: 1.25em;

    padding-top: 1.875em;
    padding-bottom: 1.875em;   
    

    
    
      
}

.redes-sociales{
    display: inline-block;

    color: $keyColor;
    font-size: 2rem;
    font-family: $mainFont;

 
  }
      





.fila-2{
    @include flex (row, space-between, center, wrap );
    
    
}


.fila-3{

    @include flex (row, space-between, none, wrap );
    
    padding-top: 1.875em;
    padding-bottom: 1.875em;

    
}

